@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto:wght@100&display=swap');
body {
    margin: 0;
    width: 1440px;
}
.main {
    max-width: 1440px;
    max-height: 1440px;
}
.navbar {
    border-bottom: 1px solid white;
    display: flex;
    height: 120px
}
.logo {
    height: 63px;
    margin-left: 113px;
    margin-right: 410px;
}
nav, ul, a {
    margin: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    padding-right: 40px;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;
}
.telejka {
    height: 20px;
    margin-right: 140px;
}
.main-part {
    height: 817px;
    position: relative;
}
.part1 {
    height: 458px;
    background-color: #C9ADC6;
}
.part1-img {
    height: 675px;
    position: absolute;
    top: 72px;
    left: 178px;
}
.part1-2 {
    height: 359px;
    background-color: #D6BBD3;
}
.part1-text {
    width: 390px;
    height: 350px;
    background-color: #B08EAD;
    position: absolute;
    top: 170px;
    right: 113px;
    padding-left: 40px;
    padding-top: 124px;
}
.p1, p2 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
}
.part1-text1 {
    font-size: 45px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    margin: 0;
}
.btn {
    cursor: pointer;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: none;
    padding: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
